body {
    background-color: #171717;
}

h6 {
    color: azure;
    font-family: 'IBM Plex Sans', sans-serif;

}

h2 {
    color: azure;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    font-weight: 600;
}

.headings {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
}

.r1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;

}

.r2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
}


.card__name {
    font-size: 20px;
    font-size: 2.2rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: white;
}



span {
    font-size: 10px;
}

.allcards {
    text-align: center;
}

.card {
    width: 25%;
    display: inline-block;
    background: #edde9c;
    height: 12rem;
    border-radius: 5px;
    margin: 2%;
}

.c1 {
    background-color: #acb18b;
}

.c2 {
    background-color: #f28911;
}

.c3 {
    background-color: #259d75;
}

.c4 {
    background-color: #635bbf;
}

.c5 {
    background-color: #64519b;
}

.c6 {
    background-color: #683d15;
}

.card__small {
    font-size: 20px;
    font-size: 1.9rem;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 600;
    color: white;
}