/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

#Navbarrr {
  padding-left: 30px;
  padding-right: 50px;
  /* background-color: #96BAFF; */
}


.navbar {
  font-size: 1em;
  font-family: 'ABeeZee', sans-serif;
}

#nb {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

.nav-item {
  padding-right: 15px;
}